.mat-success {
  background-color: green;
  color: #fff;
}
.table {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  display: block;
}
#btnExcel {
  color: white;
  background-color: green;
}
#tblFiltro {
  width: 100%;
}
