<mat-sidenav-container>
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit(form)"
      fxFlex="80"
      fxFlex.gt-sm="30"
      fxFlex.sm="60"
    >
      <mat-card class="p-0 mat-elevation-z24 box">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="bg-primary box-header"
        >
          <img
            src="../../../assets/img/tenco/logoTenco600x433.png"
            width="150"
            height="109"
          /><br /><br />
        </div>
        <mat-card-content
          fxLayout="column"
          fxLayoutAlign="end center"
          class="box-content"
        >
          <mat-card
            fxLayout="column"
            fxLayoutAlign="center center"
            class="mat-elevation-z12 box-content-inner"
          >
            <span class="box-content-header">Informe seus dados de Acesso</span>
            <mat-form-field class="w-100">
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error *ngIf="form.controls.email.errors?.required"
                >E-mail é obrigatório</mat-error
              >
              <mat-error *ngIf="form.controls.email.hasError('invalidEmail')"
                >E-mail inválido.</mat-error
              >
            </mat-form-field>
            <mat-form-field class="w-100">
              <input
                type="password"
                matInput
                placeholder="Senha"
                formControlName="password"
              />
              <mat-error *ngIf="form.controls.password.errors?.required"
                >A senha é obrigatória.
              </mat-error>
              <mat-error *ngIf="form.controls.password.hasError('minlength')"
                >A senha deve ter no mínimo 6 caracteres.</mat-error
              >
            </mat-form-field>
          </mat-card>
          <button
            mat-raised-button
            color="primary"
            class="mat-elevation-z12 box-button"
            type="submit"
          >
            Entrar
          </button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</mat-sidenav-container>
